:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  color: #272044;
  min-width: 320px;
  min-height: 100vh;
  text-align: center;
}
/*.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */
.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;
  margin: 15px;
}
.card {
  background-color: antiquewhite;
  position: relative;
}
.card img {
  /*width: 100%;*/
  width: 100%;
  object-fit: cover;
  filter: grayscale(70%);
}
.card img:hover {
  filter: grayscale(0);
}
button {
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 300;
  padding: 10px;
  cursor: pointer;
  border-radius: 4px;
  background-color: antiquewhite;
}
.close {
  top: 0;
  right: 0;
  padding: 10px;
  border-bottom-left-radius: 10px;
  position: absolute;
  background: grey;
  color: white;
  position: absolute;
}
.cardText {
  display: flex;
  justify-content: space-between;
}
.hearts {
  cursor: pointer;
  display: flex;
  background-color: pink;
  border-radius: 20px;
  padding: 5px;
}
.red-like {
  color: red;
}
.black-like {
  color: purple;
}
.app{
  height: 100vh;
  padding: 2.4rem;
  overscroll-behavior-y: none;
  display: flex;
  position: relative;
}
.header ul {
  background-color: #EFCEE4;
  display: flex;
}
.header ul li{
  list-style: none;
  padding: 1.5rem;
  display: flex;
  justify-content: flex-start;
}
.header ul li a {
  text-decoration: none;
  display: flex;
  justify-content: flex-start;
  color:#272044;
  font-size: 18px;
}
.containerLink {
  height: 100vh;
  display: flex;
  position: relative;
}
.animalLink,
.birdLink {
  display: flex;
  justify-content: center;
  width: 50%;
}

.animalLink {
  background-image: url('./animal.jpg');
  background-size: cover;
  height: 100%;
  background-position: center;
  display: flex;
}
.birdLink {
  background-image: url('./bird.jpg');
  background-size: cover;
  height: 100%;
  background-position: center;
  display: flex;
}
.animalLink a, .birdLink a {
  text-decoration: none;
  align-items: center;
  display: flex;
  color: lightslategray;
  font-size: 35px;
}
.footer {
  bottom: 0;
  text-align: center;
}