@import url('https://fonts.googleapis.com/css2?family=Changa&family=Dosis:wght@300&family=Frank+Ruhl+Libre:wght@300&family=Lato:ital,wght@0,300;1,400&family=PT+Mono&family=Playfair+Display&family=Poppins:wght@200&family=Roboto+Condensed:wght@300&family=Tourney:ital,wght@0,500;1,400&display=swap');
:root {
  line-height: 1.5;
  font-weight: 400;
    --color-primary: #272044;
    --color-back: #D5E5F0;
    --color-back-card:#F2E7DF;
    --close-color: grey;

}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
html {
  scroll-behavior: smooth;
}
body {
  color: var(--color-primary);
  background-color: var(--color-back);
  min-width: 320px;
  min-height: 100vh;
  text-align: center;
  font-family: "Poppins", sans-serif;
}
.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;
  margin: 15px;
}
.card {
  background-color: var(--color-back-card);
  position: relative;
  border-radius: 5px;
}
.card img {
  width: 100%;
  object-fit: cover;
  filter: grayscale(70%);
  border-radius: 5px;
}
.card img:hover {
  filter: grayscale(0);
}
.singlePage {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 55vh;
  background: var(--color-back);
  padding: 20px;
  margin-bottom: 200px;
}
.singleImage {
 /* max-width: 500px;*/
  float: left;
  border: 3px solid white;
  border-radius: 10px;
  margin-right: 20px;
}
.singleImage:hover {
  transform: scale(1.1);
  transition: 0.6s ease-in all;
}
/*.singleText {

}*/
.singleText h2 {
  font-size: 30px;
}
.singleText p {
  display: inline;
  font-size: 16px;
  padding: 5px;
}
.cardText {
  display: flex;
  justify-content: space-between;
}

button {
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 300;
  padding: 10px;
  cursor: pointer;
  border-radius: 4px;
  background-color: var(--color-back-card);
}
.close {
  top: 0;
  right: 0;
  padding: 10px;
  border-bottom-left-radius: 10px;
  position: absolute;
  background: var(--close-color);
  color: white;
  position: absolute;
}
.cardText {
  display: flex;
  justify-content: space-between;
}
.hearts {
  cursor: pointer;
  display: flex;
  background-color: var(--color-back);
  border-radius: 20px;
  padding: 5px;
}
.red-like {
  color: #fab814;;
}
.black-like {
  color: #483940;
}
.app{
  height: 100vh;
  padding: 2.4rem;
  overscroll-behavior-y: none;
  display: flex;
  position: relative;
}
.navLinkGroup {
  top: 0;
  display: flex;
  justify-content: space-between;
  margin: 5px;
  font-size: 18px;
  background-color: var(--color-back-card);
}
.navLinkGroup p a{
  text-decoration: none;
  color: var(--color-primary);
  font-size: 1.1rem;
  padding: 5px;
}
header li {
  display: inline-block;
  font-size: 1.1rem;
}
.liContainer {
  text-align: right;
}
ul li a {
  text-decoration: none;
  padding: 8px;
  display: inline-block;
  color: var(--color-primary);
}
a:hover  {
  text-decoration: none;
  font-weight: bold;
}
.containerLink {
  height: 100vh;
  display: flex;
  position: relative;
}
.animalLink,
.birdLink {
  font-weight: bold;
  display: flex;
  justify-content: center;
  width: 50%;
}

.animalLink {
  background-image: url("https://source.unsplash.com/random/?alpaca");
  background-size: cover;
  height: 100%;
  background-position: center;
  display: flex;
}
.birdLink {
  background-image: url("https://source.unsplash.com/random/?duck");
  background-size: cover;
  height: 100%;
  background-position: center;
  display: flex;
}
.animalLink a, .birdLink a {
  text-decoration: none;
  align-items: center;
  display: flex;
  color: white;
  font-size: 35px;
}
.more {
  text-decoration: none;
  color: var(--color-primary);
}
.return {
  font-weight: 600;
  font-size: 0.8rem;
  background: var(--color-back-card);
  color: var(--color-primary);
  padding: 1rem;
  margin: 2rem;
}
.return:hover{
  background-color: var(--color-primary);
  color: var(--color-back-card);
}
.input {
  justify-self: center;
  border: none;
  padding: 0.8rem;
  font-size: 1rem;
  border-radius: 0.7rem;
  width: 40rem;
  transition: all 0.3s;
  color: var(--color-primary);
  background-color: white;
}
.input::placeholder {
  color: var(--color-primary);
}
.input:focus {
  outline: none;
  box-shadow: 0 2.4rem 2.4rem rgba(0, 0, 0, 0.1);
  transform: translateY(-2px);
}
.footer {
  padding: 1.5rem;
  width: 100%;
  bottom: 0;
   width: 100%;
  text-align: center;
 color: var(--color-primary);
  font-size: 1rem;
} 
.about{
  line-height: 40px; 
  margin-bottom: 250px;
}
.topBtn {
  position: fixed;
  bottom: 50px;
  padding: 1rem 2rem;
  z-index: 998;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  right: 50px;
  background-color: var(--color-back);
  box-shadow: 1px 1px 2px rgba(133, 112, 69, 0.807);
  font-family: inherit;
  font-size: inherit;
  color: #323367;
}
.topBtn:hover {
  background-color: var(--color-primary);
  color: var(--color-back-card);
}
